<div
     class="flex-auto dark:bg-slate-900 sm:rounded-tr-xl lg:rounded-tr-none xl:rounded-tr-xl px-4 py-6 sm:p-6 space-y-6">
    <div class="space-y-1">
        <dt class="font-mono text-xs dark:text-slate-400">font-display</dt>
        <dd class="text-2xl leading-7 text-gray-900 dark:text-slate-50 font-extrabold"
            style="opacity: 1;">Poppins</dd>
    </div>
    <div class="space-y-1">
        <dt class="font-mono text-xs dark:text-slate-400">font-body</dt>
        <dd class="text-gray-600 font-light text-xs dark:text-slate-200">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mi
            ultrices non
            pharetra, eros enim. Habitant suspendisse ultricies.</dd>
    </div>
</div>