<div class="flex h-[300px] flex-col justify-between rounded-lg bg-background">
  <div class="flex items-center justify-between px-8 pt-8">
    <span class="text-lg font-semibold text-foreground">Podpah</span>
  </div>
  <div class="flex grow flex-col items-center justify-center">
    <img
      class="h-24 w-24 rounded-full p-1 ring-2 ring-primary"
      src="https://i.scdn.co/image/ab67656300005f1fda018f5c18ecebc5d3ff3b59"
      alt="Bordered avatar" />
  </div>
  <div class="flex items-center justify-between py-4 px-4 text-xs text-muted-foreground">
    <span>01:10</span>
    <span>35:10</span>
  </div>
  <div class="relative flex h-20 flex-col justify-center rounded-b-lg bg-primary">
    <div class="cursor-pointer">
      <div class="bg-night-500 absolute top-0 right-0 left-0 h-1"></div>
      <div class="absolute top-0 right-0 left-0 h-1 w-5 bg-foreground"></div>
      <div class="bg-primary-600 absolute -top-1.5 right-0 left-5 h-4 w-4 rounded-full"></div>
    </div>
    <div class="flex items-center justify-center gap-2">
      <div class="flex h-10 w-10 items-center justify-center">
        <svg-icon src="assets/icons/tablericons/arrows-shuffle-2.svg" [svgClass]="'h-5 w-5 text-white'"></svg-icon>
      </div>
      <div class="flex h-10 w-10 items-center justify-center">
        <svg-icon
          src="assets/icons/tablericons/player-skip-back-filled.svg"
          [svgClass]="'h-5 w-5 text-white'"></svg-icon>
      </div>
      <div class="flex h-10 w-10 items-center justify-center rounded-full bg-primary">
        <svg-icon src="assets/icons/heroicons/solid/play.svg" [svgClass]="'h-5 w-5 text-primary'"></svg-icon>
      </div>
      <div class="flex h-10 w-10 items-center justify-center">
        <svg-icon
          src="assets/icons/tablericons/player-skip-forward-filled.svg"
          [svgClass]="'h-5 w-5 text-white'"></svg-icon>
      </div>
      <div class="flex h-10 w-10 items-center justify-center">
        <svg-icon src="assets/icons/tablericons/repeat.svg" [svgClass]="'h-5 w-5 text-white'"></svg-icon>
      </div>
    </div>
  </div>
</div>
