<td class="py-2 pr-2">
  <div class="flex items-center">
    <img [src]="auction.image" class="rounded-xs h-10 w-10 flex-none ltr:mr-2 rtl:ml-2" alt="" />
    <div class="flex flex-col justify-items-start">
      <a href="#" class="text-foreground mb-1 text-sm font-semibold">{{ auction.title }}</a>
      <span class="text-muted-foreground/50 text-xs font-semibold">{{ auction.creator }}</span>
    </div>
  </div>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-muted-foreground text-sm font-semibold">{{ auction.instant_price }} ETH</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-muted-foreground text-sm font-semibold">{{ auction.price | currency }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <!-- <div class="ml-4 flex items-center justify-start">
		<img [src]="auction.avatar" class="mr-3 h-8 w-8 rounded-b-md" alt="" />
	</div> -->
  <span class="text-muted-foreground text-sm font-semibold">{{ auction.last_bid }} ETH</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-muted-foreground text-sm font-semibold">{{ auction.ending_in }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <div class="flex justify-end">
    <button
      href="#"
      class="bg-card text-muted-foreground hover:bg-muted hover:text-foreground flex h-7 w-7 items-center justify-center rounded-md">
      <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
    </button>
  </div>
</td>
