<div class="bg-background flex max-w-lg flex-col items-center justify-center gap-2 rounded-lg p-8 text-center">
  <svg-icon src="assets/illustrations/404.svg" svgClass="w-[300px] h-[150px] text-muted-foreground"> </svg-icon>
  <h1 class="text-foreground text-4xl font-bold">Booo!</h1>
  <p class="text-muted-foreground text-sm">The requested page is missing. Check the URL or return to</p>
  <app-button (buttonClick)="goToHomePage()" impact="bold" tone="primary" shape="rounded" size="medium">
    Home Page
  </app-button>
</div>
