{
  "useTabs": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 120
}