<div
  class="flex h-[300px] flex-grow flex-col rounded-lg bg-green-800 bg-contain bg-right-top bg-no-repeat"
  style="background-image: url('assets/images/podcast-episode.png')">
  <div class="flex flex-col justify-between p-10">
    <div class="mb-4 pt-0 sm:mb-14">
      <h3 class="text-5xl font-semibold text-white">More Minimal</h3>
      <span class="fs-4 d-block lh-0 font-semibold text-white/80">with Nazriel Sona</span>
      <div class="mt-4 flex items-center gap-2">
        <div class="flex items-center gap-2">
          <a class="rounded-full bg-green-500 p-1">
            <svg-icon src="assets/icons/heroicons/solid/play.svg" [svgClass]="'h-3 w-3 text-white'"></svg-icon>
          </a>
          <span class="text-sm font-medium text-white">70,000+ plays</span>
        </div>
        <div class="flex items-center gap-2">
          <a class="rounded-full bg-green-500 p-1">
            <svg-icon src="assets/icons/tablericons/headphones.svg" [svgClass]="'h-3 w-3 text-white'"></svg-icon>
          </a>
          <span class="text-sm font-medium text-white">372 listening now</span>
        </div>
      </div>
    </div>
    <div class="flex gap-2">
      <button class="flex items-center gap-1 rounded-md bg-green-500 px-4 py-2.5 text-xs font-semibold text-white">
        <div class="rounded-full bg-white p-1">
          <svg-icon src="assets/icons/heroicons/solid/play.svg" [svgClass]="'h-2 w-2 text-green-500'"></svg-icon>
        </div>
        Listen Now
      </button>
      <button class="flex-none rounded-md border border-white px-4 py-2.5 text-xs font-semibold text-white">
        Add to Playlist
      </button>
    </div>
  </div>
</div>
