<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Podcast Dashboard</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">Dashboards</a>
      <span> - Podcast</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button
      class="flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
      Download
    </button>
    <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
      Podcasts
    </button>
  </div>
</div>
