<div class="dark:bg-night-700 flex h-16 items-center bg-white">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="dark:text-night-300 text-gray-400">
      <span class="mr-2">{{ year }}©</span>
      <a
        href="https://github.com/luciano-work/angular-tailwind"
        target="_blank"
        class="dark:text-night-100 font-normal text-gray-800 hover:text-primary dark:hover:text-primary">
        Angular Tailwind
      </a>
    </div>
    <ul class="dark:text-night-300 flex text-gray-500">
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind/issues" target="_blank" class="menu-link px-2">
          Issues
        </a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind" target="_blank" class="menu-link px-2">Sponsor</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/luciano-work/angular-tailwind" target="_blank" class="menu-link px-2">Starred</a>
      </li>
    </ul>
  </div>
</div>
