<!-- Card -->
<div class="flex h-[420px] flex-col rounded-lg bg-white p-8 dark:bg-night-700">
  <!-- Image -->
  <div
    [ngStyle]="{ 'background-image': 'url(' + nft.image + ')' }"
    class="h-[240px] cursor-pointer rounded-md bg-cover transition duration-150 ease-in-out hover:opacity-75"></div>
  <!-- Description  -->
  <h2 class="text-md mt-6 font-semibold text-gray-900 dark:text-night-50">{{ nft.title }}</h2>
  <div class="flex items-end justify-between text-sm font-semibold text-gray-400 dark:text-night-300">
    Last Bid: {{ nft.last_bid }} ETH
    <span>{{ nft.price | currency }}</span>
  </div>
  <!-- Buttons -->
  <div class="mt-6 flex items-center justify-between">
    <button
      class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
      Place a Bid
    </button>
    <button
      class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
      View Item
    </button>
  </div>
</div>
<!-- end Card -->
