<router-outlet></router-outlet>
<app-responsive-helper></app-responsive-helper>

<!-- <form class="flex items-center space-x-6">
	<div class="shrink-0">
		<img class="h-12 w-12 object-cover rounded-full"
			 src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1361&q=80"
			 alt="Current profile photo" />
	</div>
	<label class="block">
		<span class="sr-only">Choose profile photo</span>
		<input type="file"
			   class="block w-full text-sm text-slate-500
                        file:mr-4 file:py-2 file:px-4
                        file:rounded-full file:border-0
                        file:text-sm file:font-semibold
                        file:bg-violet-50 file:text-violet-700
                        hover:file:bg-violet-100" />
	</label>
</form> -->

<!-- <blockquote class="py-10 text-2xl font-semibold italic text-center text-slate-900">
	Quando você olha
	<span
		  class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-indigo-500 relative inline-block">
		<span class="relative text-white">incomodado</span>
	</span>
	o tempo todo, as pessoas pensam que você está ocupado.
</blockquote> -->

<!-- <a
   class="group block max-w-xs mx-auto rounded-lg p-6 bg-white ring-1 ring-slate-900/5 space-y-3 hover:bg-indigo-500 hover:ring-indigo-500">
	<div class="flex items-center space-x-3">

		<svg class="h-6 w-6 stroke-indigo-500 group-hover:stroke-white"
			 className="h-6 w-6"
			 fill="none"
			 viewBox="0 0 24 24"
			 stroke="currentColor"
			 strokeWidth={2}>
			<path strokeLinecap="round"
				  strokeLinejoin="round"
				  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
		</svg>
		<h3 class="text-slate-900 group-hover:text-white text-sm font-semibold">New project</h3>
	</div>
	<p class="text-slate-500 group-hover:text-white text-sm">
		Create a new project from a variety of starting templates.
	</p>
</a> -->

<!-- <div class="mx-auto">
	<button type="button"
			class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500">
		<svg class="motion-reduce:hidden animate-spin -ml-1 mr-3 h-5 w-5 text-white"
			 xmlns="http://www.w3.org/2000/svg"
			 fill="none"
			 viewBox="0 0 24 24">
			<circle class="opacity-25"
					cx="12"
					cy="12"
					r="10"
					stroke="currentColor"
					stroke-width="4"></circle>
			<path class="opacity-75"
				  fill="currentColor"
				  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
			</path>
		</svg>
		Please await...
	</button>
</div> -->