<nav class="z-10 hidden h-full w-16 flex-none select-none bg-gray-100 pt-7 dark:bg-dark-foreground lg:grid xl:w-20">
    <div class="mb-auto text-center">
        <div class="shrink-0 grow-0 mx-auto">
            <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1361&q=80"
                 class="object-cover mx-auto rounded-xl"
                 style="width: 44px; height: 44px;">
        </div>
        <div class="mt-2.5 text-center leading-3">
            <b class="text-orange-400 block text-xs font-bold leading-3">$6.01</b>
            <span class="text-xs text-gray-500">usage</span>
        </div>
        <div class="mt-2 relative">
            <div
                 class="relative inline-block cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="18px"
                     height="18px"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="vue-feather dark:text-gray-100 transition feather feather-bell rotate-[30deg]">
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                </svg>
                <span
                      class="absolute z-[9] right-1.5 bottom-1.5 flex items-center justify-center w-4 h-4 bg-orange-400 text-white rounded-full text-xs font-bold">
                    1
                </span>
                <span
                      class="animate-ping absolute z-[8] right-1.5 bottom-1.5 flex items-center justify-center w-4 h-4 bg-orange-400 text-white rounded-full text-xs font-bold">
                </span>
            </div>
        </div>

        <div class="mt-6">
            <a class="mb-1.5 block"
               title="Files"
               aria-current="page">
                <div
                     class="inline-block btn-home cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20px"
                         height="20px"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-hard-drive">
                        <line x1="22"
                              y1="12"
                              x2="2"
                              y2="12"></line>
                        <path
                              d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                        </path>
                        <line x1="6"
                              y1="16"
                              x2="6.01"
                              y2="16"></line>
                        <line x1="10"
                              y1="16"
                              x2="10.01"
                              y2="16"></line>
                    </svg>

                </div>
            </a>
            <a class="mb-1.5 block user"
               title="Profile">
                <div
                     class="inline-block cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20px"
                         height="20px"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12"
                                cy="7"
                                r="4"></circle>
                    </svg>
                </div>
            </a>
            <a class="mb-1.5 block settings"
               title="Settings">
                <div
                     class="inline-block cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20px"
                         height="20px"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-settings">
                        <circle cx="12"
                                cy="12"
                                r="3"></circle>
                        <path
                              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                        </path>
                    </svg>
                    <!---->
                </div>
            </a>
        </div>
        <div title="Toggle Dark Mode"
             class="mt-6 block">
            <div
                 class="button-icon inline-block cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20px"
                     height="20px"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-moon">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="mt-auto text-center">
        <div title="Log Out"
             class="button-icon inline-block cursor-pointer rounded-xl p-3 hover:bg-gray-200 dark:hover:bg-4x-dark-foreground">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="20px"
                 height="20px"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="feather feather-power">
                <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                <line x1="12"
                      y1="2"
                      x2="12"
                      y2="12"></line>
            </svg>
        </div>
    </div>
</nav>