<div class="lg:flex h-screen lg:overflow-hidden w-full">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <div class="transition-transform duration-200 lg:grid lg:flex-grow lg:content-start">

        <!-- Header -->
        <app-navbar></app-navbar>

        <!-- main content -->
        <div class="flex space-x-3 lg:overflow-hidden">
            <router-outlet></router-outlet>

            <div
                 class="flex-auto bg-white sm:rounded-tr-xl lg:rounded-tr-none xl:rounded-tr-xl px-4 py-6 sm:p-6 space-y-6">
                <div class="space-y-1">
                    <dt class="font-mono text-xs">font-display</dt>
                    <dd class="text-2xl leading-7 text-gray-900 font-extrabold"
                        style="opacity: 1;">Poppins</dd>
                </div>
                <div class="space-y-1">
                    <dt class="font-mono text-xs">font-body</dt>
                    <dd class="text-gray-600 font-light text-xs"
                        style="opacity: 1;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi ultrices non
                        pharetra, eros enim. Habitant suspendisse ultricies.</dd>
                </div>
            </div>

        </div>

    </div>

    <!-- footer -->
    <app-footer></app-footer>

</div>