<div class="flex h-screen w-screen">
	<div class="relative hidden flex-1 items-end justify-center bg-night-700 lg:flex">
		<img
			class="absolute inset-0 h-full w-full object-cover opacity-20"
			src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80&sat=-100"
			alt="" />
		<div class="m-20 space-y-4 text-white">
			<h1 class="text-4xl font-bold">"A feel clicks away from creating your lottery Display"</h1>
			<p class="text-md">Some description in small text</p>
		</div>
	</div>
	<div class="grid flex-1 items-center justify-center bg-white dark:bg-night-700">
		<div class="flex flex-col items-center justify-center rounded-lg p-5 text-center">
			<!-- logo -->
			<div class="flex items-center justify-start">
				<a class="flex items-center justify-center rounded bg-primary-500 p-2">
					<svg-icon src="assets/icons/logo.svg"> [svgClass]="'h-5 w-5'"> </svg-icon>
				</a>
				<b class="text-md pl-3 font-bold text-gray-700 dark:text-white"> Finance </b>
			</div>
			<!-- Route -->
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
