<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Forgot Password <span class="text-primary">?</span></h2>
    <p class="text-sm text-muted-foreground">Enter your email to reset your password.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input type="text" id="email" class="peer block" placeholder=" " />
      <label
        for="email"
        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
        Email address
      </label>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Submit</app-button>
    </div>
    <div class="w-full">
      <app-button routerLink="/auth/sign-in" full impact="bold" tone="light" shape="rounded" size="medium">
        Cancel
      </app-button>
    </div>
  </div>
</form>
