<div class="flex flex-col px-5 py-5">
	<div class="flex-auto space-y-6 rounded-lg bg-white px-5 py-6 dark:bg-night-700">
		<div class="space-y-1">
			<dt class="font-mono text-xs dark:text-night-200">font-display</dt>
			<dd class="text-2xl font-extrabold leading-7 text-gray-900 dark:text-night-50" style="opacity: 1">
				Poppins
			</dd>
		</div>
		<div class="space-y-1">
			<dt class="font-mono text-xs dark:text-night-200">font-body</dt>
			<dd class="text-xs font-light text-gray-600 dark:text-night-200">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi ultrices non pharetra, eros enim. Habitant
				suspendisse ultricies.
			</dd>
		</div>
	</div>
</div>
