<ul
	*ngIf="submenu.children"
	class="pointer-events-none absolute top-0 left-[100%] min-w-[200px] origin-top-left rounded-md bg-white py-4 opacity-0 shadow-custom transition duration-200 dark:bg-night-600">
	<!-- List of submenu -->
	<li
		*ngFor="let sub of submenu.children"
		class="relative px-4"
		(mouseenter)="mouseEnter($event)"
		(mouseleave)="mouseLeave($event)">
		<div class="flex rounded hover:bg-gray-100 dark:hover:bg-night-600">
			<!-- Condition -->
			<ng-container
				[ngTemplateOutlet]="sub.children ? childMenu : parentMenu"
				[ngTemplateOutletContext]="{ sub: sub }">
			</ng-container>

			<!-- Parent Menu -->
			<ng-template #parentMenu let-sub="sub">
				<a
					[routerLink]="sub.route"
					routerLinkActive="text-primary-500"
					[routerLinkActiveOptions]="{ exact: true }"
					class="inline-block w-full px-3 py-2.5 text-xs font-semibold">
					{{ sub.label }}
				</a>
			</ng-template>

			<!-- Child Menu -->
			<ng-template #childMenu let-sub="sub">
				<a class="inline-block w-full cursor-pointer px-3 py-2.5 text-xs font-semibold">
					{{ sub.label }}
				</a>
				<button class="flex items-center p-1 text-gray-400 transition-all duration-500 dark:text-night-400">
					<svg-icon src="assets/icons/solid/chevron-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
				</button>
			</ng-template>
		</div>
		<!-- Submenu items -->
		<app-navbar-submenu [submenu]="sub"></app-navbar-submenu>
	</li>
</ul>
