<div class="mx-auto px-8 py-4 lg:container">
	<!-- Header -->
	<app-nft-header></app-nft-header>
	<!-- end Header -->

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
		<!-- Dual Card -->
		<div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>
		<!-- end Dual Card -->
		<!-- Single Card -->
		<div nft-single-card [nft]="nft[1]"></div>
		<!-- end Single Card -->
		<!-- Single Card -->
		<div nft-single-card [nft]="nft[2]"></div>
		<!-- end Single Card -->
		<!-- Single Card -->
		<app-nft-chart-card></app-nft-chart-card>
		<!-- end Single Card -->
		<!-- Auctions Table -->
		<div nft-auctions-table class="md:col-span-3"></div>
	</div>
</div>
