<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div nft-single-card [nft]="nft[1]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
    <div nft-single-card [nft]="nft[2]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
    <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div>
    <!-- end Single Card -->
    <!-- Auctions Table -->
    <div nft-auctions-table class="md:col-span-2 xl:col-span-3"></div>
  </div>
</div>
