<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Two Step Verification</h2>
    <p class="text-sm text-muted-foreground">Enter the verification code we sent to</p>
    <div class="mt-2 text-lg text-muted-foreground">******2289</div>
  </div>

  <div class="grid grid-cols-6">
    @for (item of inputs; track $index) {
    <input
      placeholder=""
      maxlength="1"
      class="h-10 w-10 rounded-md border border-border bg-background text-center text-muted-foreground outline-none focus:border-primary sm:h-14 sm:w-14" />
    }
  </div>

  <!-- Submit Button -->
  <button
    routerLink="/dashboard"
    type="button"
    class="hover:bg-primary-400 relative flex w-full justify-center rounded-md border border-transparent bg-primary py-2 px-4 text-sm font-medium text-primary-foreground focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2">
    Submit
  </button>
</form>
