<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Two Step Verification</h2>
    <p class="text-muted-foreground text-sm">Enter the verification code we sent to</p>
    <div class="text-muted-foreground mt-2 text-lg">******2289</div>
  </div>

  <div class="grid grid-cols-6">
    @for (item of inputs; track $index) {
    <input
      placeholder=""
      maxlength="1"
      class="border-border bg-background text-muted-foreground focus:border-primary h-10 w-10 rounded-md border text-center outline-hidden sm:h-14 sm:w-14" />
    }
  </div>

  <!-- Submit Button -->
  <div>
    <app-button routerLink="/dashboard" full impact="bold" tone="primary" shape="rounded" size="medium">
      Submit
    </app-button>
  </div>
</form>
