<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-podcast-header></app-podcast-header>
  <!-- Content -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <!-- Card Banner -->
    <app-podcast-card-banner class="col-span-2"></app-podcast-card-banner>
    <!-- Player -->
    <app-podcast-player class="col-span-2 lg:col-span-1"></app-podcast-player>
  </div>
  <div class="row mt-8">
    <h3 class="text-sm font-semibold uppercase text-foreground">Continue Listening</h3>
    <div class="grid mt-4 gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
      <app-podcast-card-item *ngFor="let podcast of listening" [title]="podcast.title" [subtitle]="podcast.subtitle" [image]="podcast.image"/>
    </div>
  </div>
  <!-- <div class="row mt-8">
    <h3 class="text-sm font-semibold uppercase text-foreground">List of Podcast</h3>
    <app-podcast-list></app-podcast-list>
  </div> -->
</div>
