<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-podcast-header></app-podcast-header>
  <!-- Content -->
  <div class="grid grid-cols-3 gap-4">
    <!-- Card Banner -->
    <app-podcast-card-banner class="col-span-2"></app-podcast-card-banner>
    <!-- Player -->
    <!-- <app-podcast-player></app-podcast-player> -->
  </div>
  <div class="row mt-8">
    <h3 class="text-sm font-semibold uppercase">Continue Listening</h3>
    <div class="mt-4 grid grid-cols-4 gap-4">
      <app-podcast-card-item *ngFor="let podcast of podcasts" [title]="podcast.title" [subtitle]="podcast.subtitle" [image]="podcast.image"/>
      
    </div>
  </div>
</div>
