<nav class="bg-white dark:bg-night-700">

	<div class="sm:px-6">
		<div class="relative flex items-center justify-between h-16">

			<!-- Mobile Menu Button-->
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<button type="button"
						class="inline-flex items-center justify-center p-2 rounded-md 
								text-gray-500/50 hover:text-gray-900 dark:text-night-50/50  dark:hover:text-night-50 
								hover:bg-gray-200 dark:hover:bg-night-500"
						aria-controls="mobile-menu"
						aria-expanded="false">
					<span class="sr-only">Open main menu</span>

					<svg-icon src="assets/icons/outline/menu.svg"
							  [svgClass]="'h-6 w-6'">
					</svg-icon>

					<svg-icon class="hidden"
							  src="assets/icons/outline/x.svg"
							  [svgClass]="'h-6 w-6'">
					</svg-icon>

				</button>
			</div>

			<!-- Desktop Menu  -->
			<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex-shrink-0 flex items-center">
					<!-- Logo  -->
					<div class="flex items-center  lg:hidden">
						<a class="bg-primary p-2 rounded flex items-center justify-center 
                       focus:outline-none focus:ring-1">

							<svg-icon src="assets/icons/logo.svg">
								[svgClass]="'h-5 w-5'">
							</svg-icon>

						</a>
						<b class="pl-3  text-sm font-bold dark:text-night-50">
							Finance
						</b>
					</div>
				</div>
				<div class="hidden sm:block sm:ml-6 lg:ml-0">
					<div class="flex space-x-2">
						<a href="#"
						   class="bg-primary text-white px-3 py-2 rounded-md text-sm font-medium"
						   aria-current="page">Dashboard</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Team</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Projects</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Calendar</a>
					</div>
				</div>
			</div>

			<!-- Right items -->
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
				<!-- Profile dropdown -->
				<app-profile-menu></app-profile-menu>
			</div>

		</div>
	</div>

	<!-- Mobile menu -->
	<div class="sm:hidden">
		<div class="px-6 pt-2 pb-3 space-y-2">

			<a class="bg-primary text-white block px-3 py-2 rounded-md text-sm font-medium"
			   aria-current="page">Dashboard</a>

			<a class="hover:bg-gray-100 hover:text-gray-700 
				dark:text-night-100 dark:hover:bg-night-500 cursor-pointer
				 block px-3 py-2 rounded-md text-sm font-medium">
				Team
			</a>
		</div>
	</div>

</nav>