<nav class="bg-white dark:bg-night-700">

	<div class="sm:px-6">
		<div class="relative flex items-center justify-between h-16">

			<!-- Mobile Menu Button-->
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<button type="button"
						class="inline-flex items-center justify-center p-2 rounded-md 
								text-gray-500/50 hover:text-gray-900 dark:text-night-50/50  dark:hover:text-night-50 
								hover:bg-gray-200 dark:hover:bg-night-500"
						aria-controls="mobile-menu"
						aria-expanded="false">
					<span class="sr-only">Open main menu</span>

					<svg-icon src="assets/icons/outline/menu.svg"
							  [svgClass]="'h-6 w-6'">
					</svg-icon>

					<svg-icon class="hidden"
							  src="assets/icons/outline/x.svg"
							  [svgClass]="'h-6 w-6'">
					</svg-icon>

				</button>
			</div>

			<!-- Desktop Menu  -->
			<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex-shrink-0 flex items-center">
					<!-- Logo  -->
					<div class="flex items-center  lg:hidden">
						<a class="bg-primary p-2 rounded flex items-center justify-center 
                       focus:outline-none focus:ring-1">

							<svg-icon src="assets/icons/logo.svg">
								[svgClass]="'h-5 w-5'">
							</svg-icon>

						</a>
						<b class="pl-3  text-sm font-bold dark:text-night-50">
							Finance
						</b>
					</div>
				</div>
				<div class="hidden sm:block sm:ml-6 lg:ml-0">
					<div class="flex space-x-2">
						<a href="#"
						   class="bg-primary text-white px-3 py-2 rounded-md text-sm font-medium"
						   aria-current="page">Dashboard</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Team</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Projects</a>

						<a href="#"
						   class=" hover:bg-gray-200 dark:hover:bg-night-700 dark:text-night-200 px-3 py-2 rounded-md text-sm font-medium">Calendar</a>
					</div>
				</div>
			</div>

			<!-- Right items -->
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
				<!-- Profile dropdown -->
				<div class="ml-3 relative group">
					<button class="bg-gray-800 flex text-sm rounded-full focus:outline-none"
							type="button"
							aria-expanded="false"
							aria-haspopup="true">
						<span class="sr-only">Open user menu</span>
						<img class="h-9 w-9 rounded-md"
							 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?auto=format&fit=facearea&facepad=2&w=256&h=256"
							 alt="">
					</button>
					<div class="absolute origin-top-right right-0 mt-2 w-60 rounded-md shadow-custom 
						 py-4 bg-white dark:bg-night-600 ring-1 ring-transparent ring-opacity-5 
                         focus:outline-none scale-100 group-hover:scale-100 transition-all ease-in">

						<div class="flex flext-row items-center px-4 pb-4">
							<div class="w-10 shrink-0">
								<img class="rounded-md"
									 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?auto=format&fit=facearea&facepad=2&w=256&h=256"
									 alt="">
							</div>
							<div class="text-sm px-2 font-semibold text-gray-700 dark:text-night-50 overflow-hidden">
								Luciano Oliveira
								<p
								   class="text-xs font-semibold text-gray-400 dark:text-night-300 text-ellipsis truncate">
									workingluciano@gmail.com</p>
							</div>
						</div>

						<div class="border-b border-dashed border-gray-200 dark:border-night-500"></div>

						<ul class="my-2 mx-4">
							<li
								class="block px-3 py-2 hover:bg-gray-100 hover:text-purple-500 dark:hover:bg-night-500 cursor-pointer rounded-md  text-sm font-semibold text-gray-700 dark:text-night-200">
								Your Profile
							</li>
							<li
								class="block px-3 py-2 hover:bg-gray-100 hover:text-purple-500 dark:hover:bg-night-500 cursor-pointer rounded-md  text-sm font-semibold text-gray-700 dark:text-night-200">
								Language
							</li>
							<li
								class="block px-3 py-2 hover:bg-gray-100 hover:text-purple-500 dark:hover:bg-night-500 cursor-pointer rounded-md  text-sm font-semibold text-gray-700 dark:text-night-200">
								Settings
							</li>
							<li
								class="block px-3 py-2 hover:bg-gray-100 hover:text-purple-500 dark:hover:bg-night-500 cursor-pointer rounded-md  text-sm font-semibold text-gray-700 dark:text-night-200">
								Sign out
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Mobile menu -->
	<div class="sm:hidden">
		<div class="px-6 pt-2 pb-3 space-y-2">

			<a class="bg-primary text-white block px-3 py-2 rounded-md text-sm font-medium"
			   aria-current="page">Dashboard</a>

			<a class="hover:bg-gray-100 hover:text-gray-700 
				dark:text-night-100 dark:hover:bg-night-500 cursor-pointer
				 block px-3 py-2 rounded-md text-sm font-medium">
				Team
			</a>
		</div>
	</div>

</nav>