<div class="pt-4"
	 *ngFor="let menu of menuItem">
	<div class="mb-2 mx-1 flex items-center justify-between">
		<small [ngClass]="{'hidden': !isOpen}"
			   class="text-xs font-semibold text-gray-400 dark:text-night-200">
			{{menu.group}}
		</small>
	</div>
	<ul class="flex flex-col space-y-1">
		<li *ngFor="let items of menu.items">
			<div (click)="expandedMenu(items)"
				 class="relative text-gray-400 dark:text-night-400 group"
				 routerLinkActive="text-primary">

				<!-- Icon -->
				<div [ngClass]="isActive([items.route]) && !isOpen ? 'text-primary' : ''"
					 class="m-2 absolute pointer-events-none">
					<svg-icon src="{{items.icon}}"
							  [svgClass]="'h-5 w-5'">
					</svg-icon>
				</div>

				<!-- Workaround:: Enable routerLink -->
				<div *ngIf="!items.children"
					 routerLink="{{items.route}}"
					 class="rounded flex items-center justify-start h-9 cursor-pointer hover:bg-gray-100 dark:hover:bg-night-600">
					<a routerLinkActive="text-primary"
					   class="ml-10 text-xs font-semibold focus:outline-none tracking-wide truncate text-gray-600 dark:text-night-100">
						{{items.label}}
					</a>
				</div>

				<!-- Workaround:: Disable routerLink -->
				<div *ngIf="items.children"
					 class="rounded flex items-center justify-start h-9  cursor-pointer hover:bg-gray-100 dark:hover:bg-night-600">
					<a
					   class="ml-10 text-xs font-semibold focus:outline-none tracking-wide truncate text-gray-600 dark:text-night-100">
						{{items.label}}
					</a>
				</div>

				<!-- Arrow Icon -->
				<button *ngIf="items.children"
						[ngClass]="{'hidden': !isOpen, 'rotate-90': items.expanded}"
						class="absolute top-1 right-0 flex items-center pointer-events-none p-1 transition-all duration-500 text-gray-400 dark:text-night-400">
					<svg-icon src="assets/icons/solid/chevron-right.svg"
							  [svgClass]="'h-5 w-5'">
					</svg-icon>
				</button>

				<!-- Tooltip -->
				<div class="fixed w-full"
					 *ngIf="!isOpen">
					<span class="absolute w-auto p-2 min-w-max left-12 -top-[34px] rounded-md shadow-md 
						  text-white bg-black dark:text-night-900 dark:bg-white text-xs 
						  font-bold z-1 transition-all duration-200 scale-0 origin-left 
						  group-hover:scale-100">
						{{items.label}}
					</span>
				</div>


			</div>

			<!-- Submenu items -->
			<div class="pt-1 pl-4 overflow-hidden max-h-0 transition-all duration-500"
				 [ngClass]="{'hidden': !isOpen, 'max-h-screen': items.expanded}">
				<ul class="flex flex-col pl-2 border-dashed border-l border-gray-200 dark:border-night-500">
					<li *ngFor="let sub of items.children">
						<a routerLink="{{sub.route}}"
						   routerLinkActive="text-primary"
						   class="inline-block w-full px-4 py-2 text-xs font-semibold rounded hover:bg-gray-100 dark:hover:bg-night-600 text-night-200">
							{{sub.label}}
						</a>
					</li>
				</ul>
			</div>
	</ul>

	<div class="pt-3"
		 *ngIf="menu.separator">
		<hr class="border-gray-200 dark:border-night-500 border-dashed">
	</div>

</div>